/*
Maria Smith
3/28/18
Intro to CSS Assignment
*/

/* The Universal Selector */

*{
 margin: 0;
 padding:0;
}

/* Put body attributes here */

body {
 
		background-color: antiquewhite;
		color: navy;
		font-family: "Verdana","sans-serif", "Courier New";
		
		}
		
h1 { font-family:"Script","Roboto","Brush Script";
	font-size: 50pt;
	text-align: center;
	background-color: lightcoral;
	color:navy;
	
	}
	
.right { float:right;

        }
#next_para {clear:right;

			}
			
img { width:500px;
	height: 300px;

	}
	
figcaption { font-size: 10pt;
			}